@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
}

table{
    background: rgba(255,255,255,0.5) !important;
}

#form {
  /* background-color: #f2f2f2; */
  border-radius: 13px;
  height: 580px;
  padding-left: 1em;
  padding-right: 1em;
  background-image: url(../assets/img/print-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: -999;
}


/* #form:before {
    background-image: url(../assets/img/NDDUseal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 0;
    opacity: 0.2;
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */
.header-logo {
  height: 70px;
}

.school-logo {
  height: 100px;
}

.name {
  margin-left: 15px;
}

h4 {
  margin-top: 5px;
  color: #0c5c04;
}

h6 {
  margin-top: -5px;
  color: #0c5c04;
}

p {
  font-size: 24px;
  margin-top: -10px;
  color: #0c5c04;
}

#btn {
  margin-left: auto;
  margin-right: auto;
}

.input-group-text {
  background-color: #0c5c04 !important;
  color: white !important;
}

#info {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.col-3 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.table {
  margin-top: 30px;
}

thead {
  font-size: 16px;
}




.float-start {
  margin-left: 1.5em;
}

#percent-rank {
  margin-left: auto;
  margin-right: auto;
}

#percent-rank input[type="text"]::placeholder {
  text-align: center;
  opacity: 0.9;
}

#percent-rank input[type="text"] {
  text-align: center;
  border-radius: 10px;
}

.dropdown {
  margin-left: auto;
  margin-right: auto;
}

#dropdownMenuButton1 {
  background-color: white;
  border: solid 1px #a7a7a7;
  color: gray;
}

.wrapper {
  margin-top: 0px;
  display: flex;
  justify-content: flex-start;
}

nav {
  background: #0c5c04;
  height: 70px;
  width: 100%;
}

.school-logo {
  height: 70px;
}

label.logo {
  color: white;
  padding: 0 50px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 7px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a.active,
a:hover {
  color: #000000;
  transition: 0.5s;
  background-color: #df980f;
  text-decoration: none;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 75px;
  margin-right: 50px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.btn-toolbar {
  margin: 20px;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
    text-decoration: none;
  }
}

@media (max-width: 860px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0c5c04;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 25px;
  }

  nav ul li a {
    font-size: 20px;
    text-decoration: none;
  }

  a:hover,
  a.active {
    background: none;
    color: #df980f;
    text-decoration: none;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

section {
  background-size: cover;
  height: calc(100vh - 80px);
}

.container {
  background-color: #ffffff;
  height: 91vh;
}

.print-tool{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
}
.spinner-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  --d: 25px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  color: #126d16;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1.1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2.2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3.4px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4.5px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5.6px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6.7px;
  animation: spinner-a90wxe 1s infinite steps(8);
}

@keyframes spinner-a90wxe {
  100% {
    transform: rotate(1turn);
  }
}

@media only screen and (max-width: 490px) {
  p {
    font-size: small;
  }

  h4 {
    font-size: 20px !important;
  }
  h6 {
    font-size: x-small;
  }
  th {
    font-size: 15px;
  }
  td{
    font-size: 13px;
  }
}

@media only screen and (max-width: 372px) {
  .school-logo {
    display: none;
  }

}
